# Entorno
.env
.venv/
venv/
env/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Django
db.sqlite3
*.log
local_settings.py
staticfiles/
media/

# IDE / OS
.idea/
.vscode/
*.swp
.DS_Store
Thumbs.db

# Cursor / assets locales
assets/

# Cobertura
htmlcov/
.coverage
.pytest_cache/
